<body style="background: #e0ffff">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/image/logo.png" style="height:50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <h1></h1>
    </div>
  </div>
  </nav>

 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #43C6DB; padding-left:1267px;height: 82px;">
  <a href="" (click)="home1()"class="btn btn-dark"  style="background: #43C6DB;color:black;font-weight: bold;">Home</a> &nbsp;
  <div style="padding-left:20px"></div>

  </nav>
 <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #43C6DB; max-height: 100px">
    <div class="d-flex justify-content-between">
 <img src="assets/image/ceo.jpg" style="width: 150px;height: 150px;">
</div>

  <span class="navbar-text" >
      <h1 style="color:black; padding-left: 60px;font-weight: bold;">ANDREW MACKENZI</h1>

</span>

</nav>-->
<br><br>
 
  <div class="row">

<div class="col-md-3">
  
      <div class="row no-gutters" style="padding-left: 50px;background: #e0ffff;">
      <img src="assets\image\ceo.jpg" class="card-img" alt="..." style="height: 400px;">
    

  
      
      
        <h5 class="card-title "style="color:black; font-weight: bold; font-size: 28px" >ANDREW MACKENZI</h5>
        
     

    </div>
</div>
     
  

  <div class="col-sm-4">
    <div class="card" padding>
      <div class="row no-gutters">
<div class="card" style="width: 32rem; height: 33rem">
  <div class="card-header" style="font-weight: bold; font-size: 28px;">
    Basic Information
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="height: 4rem">Employee ID      : ABC1</li>
    <li class="list-group-item" style="height: 4rem">Name     : Andrew Mackenzi</li>
    <li class="list-group-item" style="height: 4rem">Date of Birth     : January 29</li>
    <li class="list-group-item" style="height: 4rem">Email ID      : andrewmackenzi29@gmail.com</li>
    <li class="list-group-item" style="height: 4rem">Phone No.     : 8695742565</li>
    <li class="list-group-item" style="height: 4rem">Username      : Andrew</li>
    <li class="list-group-item" style="height: 4rem">Password      : *****</li>
  </ul>
</div>
</div>
</div>
</div>

<div class="col-sm-4">
  <div class="card" padding>
      <div class="row no-gutters">
<div class="card" style="width: 32rem;height: 33rem">
  <div class="card-header"style="font-weight: bold;font-size: 28px;">
     Additional Information
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="height: 4rem">Role : Superuser</li>
    <li class="list-group-item" style="height: 4rem">Hometown      : Sharp Park, Pacifica , CA</li>
   <li class="list-group-item" style="height: 4rem">Qualification : University of Oxford, Master of Business Administration (MBA) degree</li>
   <li class="list-group-item" style="height: 4rem">Time Period : October 2010 - Present</li>
    <li class="list-group-item" style="height: 4rem">Gender : Male</li>
    <li class="list-group-item" style="height: 4rem">Blood Group : O+ve</li>
    
    <li class="list-group-item" style="height: 4rem">Interests : Travel, Housing</li>



  </ul>
</div>


</div>
</div>
</div>

</div>


<br>
<br>
</body>