<body style="background: #e0ffff">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/image/logo.png" style="height:50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <h1></h1>
    </div>
  </div>
  </nav>

 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #43C6DB; padding-left:1267px;height: 82px;">
  <button (click)="home1()"class="btn btn-dark"  style="background: #43C6DB;color:black;font-weight: bold;">Home</button> &nbsp;
  <div style="padding-left:20px"></div>

  </nav>
 <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #43C6DB; max-height: 100px">
    <div class="d-flex justify-content-between">
 <img src="assets/image/ceo.jpg" style="width: 150px;height: 150px;">
</div>

  <span class="navbar-text" >
      <h1 style="color:black; padding-left: 60px;font-weight: bold;">ANDREW MACKENZI</h1>

</span>

</nav>-->
<br><br>
 
  <div class="row">

<div class="col-md-3" *ngFor = 'let suser of getData'>
  
      <div class="row no-gutters" style="padding-left: 50px;background: #e0ffff;">
        <img src="assets\image\ceo.jpg" class="card-img" alt="..." style="height: 400px;">
        <h5 class="card-title "style="color:black; font-weight: bold; font-size: 28px" >{{ suser.name }}</h5>
      </div>
</div>
     
  

  <div class="col-sm-8" >
    <div class="card" padding>
      <div class="row no-gutters">
        <div class="card" style="width: 62rem; height: 33rem">
          <div class="card-header" style="font-weight: bold; font-size: 28px;">
            Basic Information
          </div>
          <ul class="list-group list-group-flush" *ngFor = 'let suser of getData'>
            <li class="list-group-item" style="height: 4rem">Employee ID      :  {{ suser.empId }}</li>
            <li class="list-group-item" style="height: 4rem">Name     : {{ suser.name }} </li>
            <li class="list-group-item" style="height: 4rem">Date of Birth     :  {{ suser.dob }} </li>
            
            <li class="list-group-item" style="height: 4rem">Phone No.     : {{ suser.contact }} </li>
            <li class="list-group-item" style="height: 4rem">Username      : {{ suser.username }}</li>
            <li class="list-group-item" style="height: 4rem">Password      : *****</li> 
            <li class="list-group-item" style="height: 4rem">Role : {{ suser.role}} </li> 
          </ul>
        </div>
      </div>
    </div>
    <br><br>
    <button type="button" class="btn btn-info" (click)="clickUpdate()" style="color:black;font-weight: bold;font-family: Times New Roman;">Update</button>
  </div>

<div class="col-md-1"></div>


</div>


<br>
<br>
</body>